// @charset 'utf-8';

// @import 'component/table/table';


span {
	font-size: 60px;
}

h1 {
	font-size: 1000px;
}



h5 {
	font-size: 200px;
}

.css {
	font: asdda;
}


hehe {
	color: red;
}


opq {
	color: blue;

	font-size: 20px;

	&-css {
		font-size: 500px;
	}
}