doctype html
html
	head
		link(rel="stylesheet" href="app.css")
		script(src="jspm_packages/system.js")
		script(src="config.js")
		script.
			System.import('app')
	body
		h1 123123
			span opqopq
			span 3223
			span 34dw

