

.table {
	&.st {
		height: 10px;

	}
}

h1 {
	font-size: 20px;
}

.table {

	display: table;

}

.abc {
	font-size: 12px;
}

.table {
	position: absolute;
}

ope {
	color: red;
}


.fff {
	color: red;
}

fine {
	fill: darkblue;
}

hehe {
	font-size: 232px;
}

.fine {
	font-size: 20px;
}


.fff {
	font-size: 200px;
}

.heheh {
	font-size: 200px;
}